//:root {
  //COLORS
  $white: hsl(0, 100%, 100%);
  $black: hsl(0, 0%, 0%);
  $grey-800: hsl(0, 0%, 27%);
  $grey-500: hsl(0, 0%, 63%);
  $grey-200: hsl(0, 0%, 85%);
  $grey-100: hsl(0, 0%, 94%);
  $grey-50: hsl(0, 0%, 98%);

  //TYPOGRAPHY
  $font-size-large: 48px;
  $font-size-medium: 40px;
  $font-size-regular: 16px;
  $font-size-small: 15px;

  //LINE HEIGHT
  $line-height-high: 1.4;
  $line-height-medium: 1;
  $line-height-low: 0.9;

  //LETTER SPACING
  $letter-spacing-s: -2px;
  $letter-spacing-m: -0.7px;
  $letter-spacing-l: -0.5px;
  $letter-spacing-m: 7px;
  $letter-spacing-xl: 12px;

  //FONT-WEIGHT
  $font-weight-medium: 500;
  $font-weight-semibold: 600;
  $font-weight-bold: 700;

  //FONT FAMILY
  $font-family-league: "League Spartan", sans-serif;

  //SPACING
  $spacing-0: 0px;
  $spacing-200: 16px;
  $spacing-300: 24px;
  $spacing-400: 32px;
  $spacing-600: 48px;
  $spacing-700: 56px;
  $spacing-800: 64px;
//}


