@use "variables";

body {
  font-family: variables.$font-family-league;
  font-size: variables.$font-size-regular;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;


  main {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: variables.$spacing-800;
    width: 100%;

    @media (min-width: 1440px) {
      grid-gap: 0;
    }

    .hero {
      display: flex;
      flex-direction: column;
      gap: variables.$spacing-800;
      position: relative;

      @media (min-width: 1440px) {
        height: 534px;
      }

      .hero__header {
        position: absolute;
        width: 100%;
        height: 360px;

        @media (min-width: 768px) {
          height: 400px;
        }

        @media (min-width: 1440px) {
          height: 534px;
        }

        nav {
          position: absolute;
          top: 38px;
          left: 24px;
          display: flex;
          justify-content: space-between;
          width: 50%;

          @media (min-width: 768px) {
            top: 48px;
            left: 64px;
          }

          @media (min-width: 768px) {
            width: 25%;
          }

          .hero__header__hamburger__menu {
            margin: 0;
            padding: 0;
            background-color: transparent;
            border: none;
          }
        }

        .hero__header__buttons {
          position: absolute;
          bottom: 0;
          right: 0;
          display: flex;

          @media (min-width: 1440px) {
            left: 58%;
          }

          button {
            background-color: variables.$black;
            width: 56px;
            height: 56px;
            padding: 0;
            border: none;

            @media (min-width: 768px) {
              width: 80px;
              height: 80px;
            }
          }
        }
      }

      .hero__slide-inactive {
        display: none;
      }

      .hero__slide {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: variables.$spacing-800;

        @media (min-width: 1440px) {
          flex-direction: row;
        }

        .hero__slide__image {
          width: 100%;
          height: 360px;

          @media (min-width: 768px) {
            height: 400px;
          }

          @media (min-width: 1440px) {
            width: 58%;
            height: 534px;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: fill;
          }
        }

        .hero__slide__content {
          padding: 0 variables.$spacing-400;

          @media (min-width: 768px) {
            padding: 0 variables.$spacing-800;
          }

          @media (min-width: 1440px) {
            width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }

          h1 {
            font-size: variables.$font-size-medium;
            font-weight: variables.$font-weight-semibold;
            line-height: variables.$line-height-medium;
            letter-spacing: variables.$letter-spacing-s;
            margin: 0 0 variables.$spacing-200 0;

            @media (min-width: 768px) {
              font-size: variables.$font-size-large;
            }
          }

          p {
            font-weight: variables.$font-weight-medium;
            line-height: variables.$line-height-high;
            letter-spacing: variables.$letter-spacing-l;
            color: variables.$grey-500;
          }

          .hero__slide__content__button {
            display: flex;
            width: 100%;
            justify-content: space-between;

            p {
              margin: 0;
              font-weight: variables.$font-weight-medium;
              font-size: variables.$font-size-small;
              line-height: variables.$line-height-medium;
              letter-spacing: variables.$letter-spacing-xl;
              text-transform: uppercase;
              color: variables.$black;
            }
          }
        }
      }
    }

    .about {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: variables.$spacing-600;

      @media (min-width: 1440px) {
        flex-direction: row;
      }

      .about-upper-image {
        width: 100%;
        object-fit: contain;

        @media (min-width: 1440px) {
          width: 420px;
          height: 266px;
        }

      }

      .about-content {
        padding: 0 variables.$spacing-400;

        @media (min-width: 768px) {
          padding: 0 variables.$spacing-800;
        }

        @media (min-width: 1440px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        h4 {
          font-weight: variables.$font-weight-bold;
          font-size: variables.$font-size-small;
          line-height: 22px;
          letter-spacing: variables.$letter-spacing-m;
          text-transform: uppercase;
          margin: 0 0 variables.$spacing-200 0;
        }

        p {
          color: variables.$grey-500;
          line-height: variables.$line-height-high;
          font-weight: variables.$font-weight-medium;
          letter-spacing: variables.$letter-spacing-l;
          margin: 0;
        }
      }

      .about-lower-image {
        width: 100%;

        @media (min-width: 1440px) {
          width: 440px;
          height: 266px;
        }
      }
    }
  }

}